html {    
    background: #ff;    
}

.main-container {
    height: 100%;    
    padding: 0px 5px 5px 5px;
}

.nav-bar-custom {
    padding: 5px;
    height: 30px;
}

.wrapper {
    min-height: 100%;
}

.nav-justified>li {
    float: left;
    width: 49.6%;
}

.users-container{    
    height: 330px;
    overflow-y: hidden;
}

.img-user {    
    max-width: 25px;
    margin-right: 10px;
}

span.user-name{
    font-size: 15px;
    vertical-align: middle;
}
